# packages in environment at /Users/gm105550/miniforge3:
#
# Name                    Version                   Build  Channel
absl-py                   1.2.0                    pypi_0    pypi
aom                       3.5.0                h7ea286d_0    conda-forge
appnope                   0.1.3                    pypi_0    pypi
asttokens                 2.0.8                    pypi_0    pypi
astunparse                1.6.3                    pypi_0    pypi
attrs                     22.1.0                   pypi_0    pypi
backcall                  0.2.0                    pypi_0    pypi
beautifulsoup4            4.11.1                   pypi_0    pypi
bleach                    5.0.1                    pypi_0    pypi
brotlipy                  0.7.0           py310hf8d0d8f_1004    conda-forge
bzip2                     1.0.8                h3422bc3_4    conda-forge
c-ares                    1.18.1               h3422bc3_0    conda-forge
ca-certificates           2022.9.24            h4653dfc_0    conda-forge
cached-property           1.5.2                hd8ed1ab_1    conda-forge
cached_property           1.5.2              pyha770c72_1    conda-forge
cachetools                5.2.0                    pypi_0    pypi
certifi                   2022.9.24          pyhd8ed1ab_0    conda-forge
cffi                      1.15.1          py310he00a5c5_0    conda-forge
chardet                   3.0.4                    pypi_0    pypi
charset-normalizer        2.1.1              pyhd8ed1ab_0    conda-forge
click                     8.1.3                    pypi_0    pypi
colorama                  0.4.5              pyhd8ed1ab_0    conda-forge
conda                     22.9.0          py310hbe9552e_1    conda-forge
conda-package-handling    1.8.1           py310hf8d0d8f_1    conda-forge
contourpy                 1.0.6                    pypi_0    pypi
cryptography              37.0.4          py310h94bb23d_0    conda-forge
cycler                    0.11.0                   pypi_0    pypi
debugpy                   1.6.3                    pypi_0    pypi
decorator                 5.1.1                    pypi_0    pypi
deepaugment               0.7.0                    pypi_0    pypi
defusedxml                0.7.1                    pypi_0    pypi
entrypoints               0.4                      pypi_0    pypi
executing                 1.1.1                    pypi_0    pypi
expat                     2.4.9                hb7217d7_0    conda-forge
fastjsonschema            2.16.2                   pypi_0    pypi
ffmpeg                    5.1.2           gpl_hcccd11d_101    conda-forge
flatbuffers               22.9.24                  pypi_0    pypi
font-ttf-dejavu-sans-mono 2.37                 hab24e00_0    conda-forge
font-ttf-inconsolata      3.000                h77eed37_0    conda-forge
font-ttf-source-code-pro  2.038                h77eed37_0    conda-forge
font-ttf-ubuntu           0.83                 hab24e00_0    conda-forge
fontconfig                2.14.0               h82840c6_1    conda-forge
fonts-conda-ecosystem     1                             0    conda-forge
fonts-conda-forge         1                             0    conda-forge
fonttools                 4.38.0                   pypi_0    pypi
freetype                  2.12.1               hd633e50_0    conda-forge
gast                      0.4.0                    pypi_0    pypi
gettext                   0.21.1               h0186832_0    conda-forge
gmp                       6.2.1                h9f76cd9_0    conda-forge
gnutls                    3.7.8                h9f1a10d_0    conda-forge
google-auth               1.4.2                    pypi_0    pypi
google-auth-oauthlib      0.4.6                    pypi_0    pypi
google-pasta              0.2.0                    pypi_0    pypi
grpcio                    1.46.3          py310h10ad472_0    conda-forge
h5py                      3.6.0           nompi_py310hb8bbf05_100    conda-forge
hdf5                      1.12.1          nompi_hf9525e8_104    conda-forge
html5lib                  1.1                      pypi_0    pypi
icu                       70.1                 h6b3803e_0    conda-forge
idna                      2.8                      pypi_0    pypi
imageio                   2.22.3                   pypi_0    pypi
imgaug                    0.2.7                    pypi_0    pypi
ipykernel                 6.16.0                   pypi_0    pypi
ipython                   8.5.0                    pypi_0    pypi
ipython-genutils          0.2.0                    pypi_0    pypi
jedi                      0.18.1                   pypi_0    pypi
jinja2                    3.1.2                    pypi_0    pypi
joblib                    1.2.0                    pypi_0    pypi
jpeg                      9e                   he4db4b2_2    conda-forge
jsonschema                4.17.0                   pypi_0    pypi
jupyter-client            7.3.5                    pypi_0    pypi
jupyter-core              4.11.1                   pypi_0    pypi
jupyterlab-pygments       0.2.2                    pypi_0    pypi
keras                     2.10.0                   pypi_0    pypi
keras-preprocessing       1.1.2                    pypi_0    pypi
kiwisolver                1.4.4                    pypi_0    pypi
krb5                      1.19.3               hf9b2bbe_0    conda-forge
lame                      3.100             h1a8c8d9_1003    conda-forge
lcms2                     2.12                 had6a04f_0    conda-forge
lerc                      4.0.0                h9a09cb3_0    conda-forge
libblas                   3.9.0           16_osxarm64_openblas    conda-forge
libcblas                  3.9.0           16_osxarm64_openblas    conda-forge
libclang                  14.0.6                   pypi_0    pypi
libcurl                   7.85.0               hd538317_0    conda-forge
libcxx                    14.0.6               h2692d47_0    conda-forge
libdeflate                1.14                 h1a8c8d9_0    conda-forge
libedit                   3.1.20191231         hc8eb9b7_2    conda-forge
libev                     4.33                 h642e427_1    conda-forge
libffi                    3.4.2                h3422bc3_5    conda-forge
libgfortran               5.0.0           11_3_0_hd922786_25    conda-forge
libgfortran5              11.3.0              hdaf2cc0_25    conda-forge
libiconv                  1.17                 he4db4b2_0    conda-forge
libidn2                   2.3.3                he4db4b2_0    conda-forge
liblapack                 3.9.0           16_osxarm64_openblas    conda-forge
libnghttp2                1.47.0               h232270b_1    conda-forge
libopenblas               0.3.21          openmp_hc731615_3    conda-forge
libpng                    1.6.38               h76d750c_0    conda-forge
libprotobuf               3.19.4               hccf11d3_0    conda-forge
libsqlite                 3.39.2               h2c9beb0_1    conda-forge
libssh2                   1.10.0               hb80f160_3    conda-forge
libtasn1                  4.19.0               h1a8c8d9_0    conda-forge
libtiff                   4.4.0                hfa0b094_4    conda-forge
libunistring              0.9.10               h3422bc3_0    conda-forge
libvpx                    1.11.0               hc470f4d_3    conda-forge
libwebp-base              1.2.4                h57fd34a_0    conda-forge
libxcb                    1.13              h9b22ae9_1004    conda-forge
libxml2                   2.9.14               h9d8dfc2_4    conda-forge
libzlib                   1.2.12               ha287fd2_2    conda-forge
llvm-openmp               14.0.4               hd125106_0    conda-forge
markdown                  3.4.1                    pypi_0    pypi
markupsafe                2.1.1                    pypi_0    pypi
matplotlib                3.6.2                    pypi_0    pypi
matplotlib-inline         0.1.6                    pypi_0    pypi
mechanize                 0.4.8                    pypi_0    pypi
mistune                   2.0.4                    pypi_0    pypi
nbformat                  5.7.0                    pypi_0    pypi
nbmerge                   0.0.4                    pypi_0    pypi
ncurses                   6.3                  h07bb92c_1    conda-forge
nest-asyncio              1.5.6                    pypi_0    pypi
nettle                    3.8.1                h63371fa_1    conda-forge
networkx                  2.8.8                    pypi_0    pypi
numpy                     1.23.2          py310h127c7cf_0    conda-forge
oauthlib                  3.2.1                    pypi_0    pypi
opencv-contrib-python     4.6.0.66                 pypi_0    pypi
opencv-python             4.6.0.66                 pypi_0    pypi
openh264                  2.3.1                hb7217d7_1    conda-forge
openjpeg                  2.5.0                h5d4e404_1    conda-forge
openssl                   1.1.1q               ha287fd2_0    conda-forge
opt-einsum                3.3.0                    pypi_0    pypi
p11-kit                   0.24.1               h29577a5_0    conda-forge
packaging                 21.3                     pypi_0    pypi
pandocfilters             1.5.0                    pypi_0    pypi
parso                     0.8.3                    pypi_0    pypi
pexpect                   4.8.0                    pypi_0    pypi
pickleshare               0.7.5                    pypi_0    pypi
pillow                    9.2.0           py310h173adc3_2    conda-forge
pip                       22.2.2             pyhd8ed1ab_0    conda-forge
portpicker                1.2.0                    pypi_0    pypi
prompt-toolkit            1.0.18                   pypi_0    pypi
protobuf                  3.19.4          py310h1b49c16_0    conda-forge
proxylist                 0.1.4                    pypi_0    pypi
psutil                    5.9.2                    pypi_0    pypi
pthread-stubs             0.4               h27ca646_1001    conda-forge
ptyprocess                0.7.0                    pypi_0    pypi
pure-eval                 0.2.2                    pypi_0    pypi
pyaml                     21.10.1                  pypi_0    pypi
pyasn1                    0.4.8                    pypi_0    pypi
pyasn1-modules            0.2.8                    pypi_0    pypi
pycosat                   0.6.3           py310hf8d0d8f_1010    conda-forge
pycparser                 2.21               pyhd8ed1ab_0    conda-forge
pygments                  2.13.0                   pypi_0    pypi
pyopenssl                 22.0.0             pyhd8ed1ab_0    conda-forge
pyparsing                 3.0.9                    pypi_0    pypi
pyrsistent                0.19.1                   pypi_0    pypi
pysocks                   1.7.1           py310hbe9552e_5    conda-forge
python                    3.10.6          hbce4517_0_cpython    conda-forge
python-dateutil           2.8.2                    pypi_0    pypi
python_abi                3.10                    2_cp310    conda-forge
pytorch                   1.14.0.dev20221015        py3.10_0    pytorch-nightly
pytz                      2022.6                   pypi_0    pypi
pywavelets                1.4.1                    pypi_0    pypi
pyyaml                    6.0                      pypi_0    pypi
pyzmq                     24.0.1                   pypi_0    pypi
randaugment               1.0.2                    pypi_0    pypi
readline                  8.1.2                h46ed386_0    conda-forge
requests                  2.21.0                   pypi_0    pypi
requests-oauthlib         1.3.1                    pypi_0    pypi
rsa                       4.9                      pypi_0    pypi
ruamel_yaml               0.15.80         py310h02f21da_1007    conda-forge
scikit-image              0.19.3                   pypi_0    pypi
scikit-learn              1.1.3                    pypi_0    pypi
scikit-optimize           0.9.0                    pypi_0    pypi
scipy                     1.9.3                    pypi_0    pypi
setuptools                65.2.0          py310hbe9552e_0    conda-forge
shapely                   1.8.5.post1              pypi_0    pypi
simplegeneric             0.8.1                    pypi_0    pypi
six                       1.12.0                   pypi_0    pypi
soupsieve                 2.3.2.post1              pypi_0    pypi
stack-data                0.5.1                    pypi_0    pypi
svt-av1                   1.2.1                he23bcac_0    conda-forge
tensorboard               2.10.1                   pypi_0    pypi
tensorboard-data-server   0.6.1                    pypi_0    pypi
tensorboard-plugin-wit    1.8.1                    pypi_0    pypi
tensorflow-deps           2.10.0                        0    apple
tensorflow-estimator      2.10.0                   pypi_0    pypi
tensorflow-macos          2.10.0                   pypi_0    pypi
tensorflow-metal          0.6.0                    pypi_0    pypi
termcolor                 2.0.1                    pypi_0    pypi
terminado                 0.13.3                   pypi_0    pypi
threadpoolctl             3.1.0                    pypi_0    pypi
tifffile                  2022.10.10               pypi_0    pypi
tinycss2                  1.2.1                    pypi_0    pypi
tk                        8.6.12               he1e0b03_0    conda-forge
toolz                     0.12.0             pyhd8ed1ab_0    conda-forge
torchaudio                0.13.0.dev20221015       py310_cpu    pytorch-nightly
torchvision               0.15.0.dev20221015       py310_cpu    pytorch-nightly
tornado                   4.5.3                    pypi_0    pypi
tqdm                      4.64.0             pyhd8ed1ab_0    conda-forge
traitlets                 5.4.0                    pypi_0    pypi
typing_extensions         4.4.0              pyha770c72_0    conda-forge
tzdata                    2022c                h191b570_0    conda-forge
urllib3                   1.24.3                   pypi_0    pypi
wcwidth                   0.2.5                    pypi_0    pypi
webencodings              0.5.1                    pypi_0    pypi
werkzeug                  2.2.2                    pypi_0    pypi
wheel                     0.37.1             pyhd8ed1ab_0    conda-forge
wrapt                     1.14.1                   pypi_0    pypi
x264                      1!164.3095           h57fd34a_2    conda-forge
x265                      3.5                  hbc6ce65_3    conda-forge
xorg-libxau               1.0.9                h27ca646_0    conda-forge
xorg-libxdmcp             1.1.3                h27ca646_0    conda-forge
xz                        5.2.6                h57fd34a_0    conda-forge
yaml                      0.2.5                h3422bc3_2    conda-forge
zlib                      1.2.12               ha287fd2_2    conda-forge
zstd                      1.5.2                h8128057_4    conda-forge
